
nav{
    
    margin:0;
    padding:0;

    text-align: center;

    font-size: 100px;
    color: #7eca9c;
    text-shadow: 8px 8px  #1c1427;
    font-family: 'Chakra Petch', sans-serif;

    text-transform: uppercase;

}

body{
    background-color:#40394a;
}


img{
    width: 30%;
    margin: calc(10%/9);
    border-radius:25px;
    border:2px solid #ccffbd;
    box-shadow: 10px 10px 5px #1c1427;

}
#diagram{

    width: 70%;

}
h2{
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    color: #1c1427;

    border-radius:25px;
    border:2px solid #ccffbd;
    background-color:#ccffbd;
    box-shadow: 10px 10px 5px #1c1427;
    width: 75%;

}

section{
    width: 75%;
}

p{
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-family: 'Baloo Tammudu 2', cursive;
}

iframe {
    border-radius:25px;
    border:2px solid #96bb7c;
    box-shadow: 10px 10px 5px #1c1427;
}
code {
    margin-left: auto;
    margin-right: auto;
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
  }

  a{
      color:#ccffbd;
  }

